{% extends 'base.html' %}
{% block title %}Главная страница{% endblock title %}
{% block content %}

    {% if text %}
        <h1 class="fw-light">{{text}}</h1>
    {% else %}
    <main>
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">Введите своё дело</h1>
                    <form  method="post">
                        <div class="form-floating">             
                            {{form.title}}
                            {{form.title.label_tag}}
                        </div>
                        <div class="form-floating">             
                            {{form.description}}
                            {{form.description.label_tag}}
                        </div>
                        {% csrf_token %}
                        <div class="form-check text-start my-3"> <p><input type="submit" class="btn btn-primary w-100 py-2" value="Отправить"></p></div>
                       
                    </form>
                </div>
            </div>
        </section>
        <div class="album py-5 bg-body-tertiary">
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    {% for do in does_list %}
                    <div class="col">
                        <div class="card shadow-sm">
                            <div class="card-body">
                                <h1><a href="{{do.get_absolute_url}}">{% if do.completed %}
                                    {{do.title}}
                                    {% else %}
                                    <s>{{do.title}}</s>
                                    {% endif %}</a></h1>
                                <p class="card-text">
                                    {% if do.completed %}
                                    {{do.description}}
                                    {% else %}
                                    <s>{{do.description}}</s>
                                    {% endif %}
                                    <p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a href="{{do.get_absolute_url}}" class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a href="delete{{do.get_absolute_url}}" class="btn btn-sm btn-outline-secondary">Delete</a>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}     
                </div>
            </div>
        </div>   
        
    </main>       
    {% endif %}

{% endblock content %}